:root {
  --black-color: #000;
  --blackpale-color: #666;
  --white-color: #fff;
  --whitepale-color: #999;
  --text-color: #333;
  --primary-color: #9d5cd0;
  --darkprimary-color: #7943a4;
  --lightprimary-color: #c283f3;
  --paleprimary-color: #d1a9f0;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), local("OpenSans"),
    url("../fonts/opensans.woff2") format("woff2"),
    url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"),
    url("../fonts/opensanssemibold.woff2") format("woff2"),
    url("../fonts/opensanssemibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Bold"), local("OpenSans-Bold"),
    url("../fonts/opensansbold.woff2") format("woff2"),
    url("../fonts/opensansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
html{
  scroll-padding-top: 170px;
}
body {
  font-family: "Open Sans", sans-serif;
  background-color:var(--white-color);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}
svg {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1703px;
  padding-left: 50px;
  padding-right: 50px;
  margin: 0 auto;
}

h2 {
  font-weight: 400;
  font-size: 48px;
  color: var(--text-color);
}
h3 {
  font-weight: 600;
  font-size: 24px;
  color: var(--text-color);
}

button {
  padding: 0;
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 17px 35px;
  border: 2px solid var(--primary-color);
  border-radius: 100px;
  transition: background-color 0.3s ease, border-color 0.3s ease,
    color 0.3s ease, border-width 0.3s ease;
  text-align: center;
}

.descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--text-color);
}

/*header*/
.header {
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 170px;
  z-index: 10;
  width: 100vw;
}
.header-top {
  background: var(--black-color);
  height: 100px;
  width: 100vw;
}

.header-top_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 100%;
}

.btn_burger {
  display: none;
}
.close-menu-btn {
  display: none;
}

.header_logo {
  height: 40px;
  max-width: 173px;
  }
  

.header-top_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 78%;
}
.header_nav {
  width: 72%;
}
.nav_list {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_link {
  color: var(--white-color);
  font-size: 18px;
  line-height: 25px;
  font-weight: 600;
  transition: color 0.3s ease, background-color 0.3s ease, fill 0.3s ease;
}
.nav_link:hover {
  color: var(--lightprimary-color);
  fill: var(--lightprimary-color);
}

.nav_link:focus {
  color: var(--white-color);
  fill: var(--white-color);
  background-color: var(--primary-color);
  outline: none;
}
.nav_link:active {
  color: var(--darkprimary-color);
  fill: var(--darkprimary-color);
  background: none;
}

.header-top_container--return {
  width: 75px;
  height: 19px;
  font-size: 18px;
  font-weight: 400;
  color: var(--white-color);
  background: none;
  border: none;
  cursor: pointer;
  transform: translateY(-6px);
  transition: color 3s ease, background-color 3s ease;
}
.nav_link-return {
  font-size: 18px;
  font-weight: 400;
  color: var(--white-color);
  fill: var(--white-color);
}

.header-top_container--return:hover {
  fill: var(--lightprimary-color);
  color: var(--lightprimary-color);
}

.header-top_container--return:active {
  fill: var(--darkprimary-color);
  color: var(--darkprimary-color);
  background: none;
}

.header-bottom {
  width: 100vw;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.4);
}

.header-bottom_container {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100%;
}
.nav_list-direction {
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_link-direction {
  font-weight: 400;
  background: none;
}

.dropdown-toggle {
  padding-right: 20px;
}
.dropdown-toggle::after {
  display: inline-block;
  position: absolute;
  content: "";
  z-index: 5;
  border-top: 1px solid;
  border-right: 1px solid;
  border-bottom: none;
  border-left: none;
  width: 7px;
  height: 7px;
  top: calc(50% - 3px);
  transform: rotate(135deg);
}

.dropdown-toggle.show:after {
  top: calc(50% - 1px);
  transform: rotate(-45deg);
}

.dropdown-menu {
  background: none;
  border: none;
  padding: 0;
}
.dropdown-menu-content {
  width: 300px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(0, 0, 0, 0);
  margin-top: 21px;
}

.dropdown-nav_list {
  margin-top: 40px;
  margin-left: 40px;
  margin-bottom: 40px;
  height: calc(100% - 80px);
  width: calc(100% - 55px);
}
.simplebar-track.simplebar-vertical {
  width: 2px;
  background-color: var(--black-color);
}

.simplebar-scrollbar.simplebar-visible:before {
  background-color: var(--white-color);
  width: 2px;
  opacity: 1;
  top: 0;
  left: 0;
}

.simplebar-content-wrapper {
  overflow: auto;
}

.dropdown-item:not(:first-child) {
  margin-top: 20px;
}

.dropdown-item {
  height: 40px;
  width: 220px;
  background-color: #d88f99;
  border: 2px solid transparent;
  position: relative;
  cursor: pointer;
}

.dropdown-link {
  color: var(--white-color);
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  padding-top: 5px;
  padding-left: 14px;
  z-index: 10;
  position: absolute;
}

.dropdown-item:hover {
  border: 2px solid var(--primary-color);
}

.dropdown-item:focus {
  border: 2px solid var(--primary-color);
  outline: none;
}

.dropdown-item:active::before {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  content: "";
  top: 0;
  left: 0;
  background-color: rgba(194, 131, 243, 0.4);
  border: 2px solid var(--paleprimary-color);
  box-sizing: border-box;
}
.dropdown-link:hover {
  color: var(--white-color);
}
.dropdown-link:active {
  color: var(--white-color);
}
.dropdown-link:focus {
  color: var(--white-color);
}

.dropdown1-element1 {
  background-image: url("../img/dropdown1/Rectangle\ 57.jpg");
}
.dropdown1-element2 {
  background-image: url("../img/dropdown1/Rectangle\ 58.jpg");
}
.dropdown1-element3 {
  background-image: url("../img/dropdown1/Rectangle\ 59.jpg");
}
.dropdown1-element4 {
  background-image: url("../img/dropdown1/Rectangle\ 60.jpg");
}
.dropdown1-element5 {
  background-image: url("");
}
.dropdown2-element1 {
  background-image: url("../img/dropdown2/Rectangle\ 57.jpg");
}
.dropdown2-element2 {
  background-image: url("../img/dropdown2/Rectangle\ 58.jpg");
}
.dropdown2-element3 {
  background-image: url("../img/dropdown2/Rectangle\ 59.jpg");
}
.dropdown2-element4 {
  background-image: url("../img/dropdown2/Rectangle\ 60.jpg");
}
.dropdown1-element5 {
  background-image: url("");
}

.dropdown3-element1 {
  background-image: url("../img/dropdown3/Rectangle\ 57.jpg");
}
.dropdown3-element2 {
  background-image: url("../img/dropdown3/Rectangle\ 58.jpg");
}
.dropdown3-element3 {
  background-image: url("../img/dropdown3/Rectangle\ 59.jpg");
}
.dropdown3-element4 {
  background-image: url("../img/dropdown3/Rectangle\ 60.jpg");
}
.dropdown1-element5 {
  background-image: url("");
}

.dropdown4-element1 {
  background-image: url("../img/dropdown4/Rectangle\ 57.jpg");
}
.dropdown4-element2 {
  background-image: url("../img/dropdown4/Rectangle\ 58.jpg");
}
.dropdown4-element3 {
  background-image: url("../img/dropdown4/Rectangle\ 59.jpg");
}
.dropdown4-element4 {
  background-image: url("../img/dropdown4/Rectangle\ 60.jpg");
}
.dropdown1-element5 {
  background-image: url("");
}

.dropdown5-element1 {
  background-image: url("../img/dropdown5/Rectangle\ 57.jpg");
}
.dropdown5-element2 {
  background-image: url("../img/dropdown5/Rectangle\ 58.jpg");
}
.dropdown5-element3 {
  background-image: url("../img/dropdown5/Rectangle\ 59.jpg");
}
.dropdown5-element4 {
  background-image: url("../img/dropdown5/Rectangle\ 60.jpg");
}
.dropdown1-element5 {
  background-image: url("");
}

.menu-search {
  position: absolute;
  left: calc(82% + 3px);
  top: 123px;
}
.header_container-top--form-search {
  width: 251px;
  display: flex;
  cursor: pointer;
  transition: border-bottom 0.3s ease;
}

.search-input-label {
  flex-grow: 1;
}

.search-input::placeholder {
  color: rgba(255, 255, 255, 0.75);
  font-size: 18px;
  font-weight: 400;
}
.search-input:focus::placeholder {
  color: transparent;
}

.search-input {
  all: unset;
  border-bottom: 1px solid var(--white-color);
  width: 100%;
}

.search-input:hover {
  border-bottom: 1px solid var(--lightprimary-color);
  color: var(--white-color);
}
.search-input:focus {
  border-bottom: 1px solid var(--darkprimary-color);
  color: var(--white-color);
}

.search-input:active {
  border-bottom: 1px solid var(--darkprimary-color);
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
  border-bottom: 1px solid var(--darkprimary-color);
}

.btn_find {
  all: unset;
  margin-top: 0;
  margin-right: 7px;
  border: none;
  width: 22px;
  height: 22px;
  vertical-align: text-bottom;
  fill: var(--white-color);
  transition: fill 0.3s ease;
  position: relative;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.btn_find::before {
  position: absolute;
  top: -7.2px;
  left: -7px;
  content: "";
  display: block;
  height: 40px;
  width: 40px;
  background-position: 7px 7.5px;
}
.btn_find-breakpoint {
  display: none;
}
.close-menu-search-btn {
  display: none;
}

/*hero*/
.hero {
  position: relative;
  margin-bottom: 81px;
  overflow: hidden;
  width: 100vw;
}

.hero_banner_content {
  padding-top: 238px;
  padding-bottom: 123px;
  position: relative;
  max-width: 61%;
  z-index: 5;
}

.hero_banner_theme {
  margin-bottom: 90px;
}

h1 {
  margin: 0;
  color: var(--white-color);
  font-weight: 700;
  font-size: 72px;
  line-height: 86px;
  margin-bottom: 17px;
}
.hero_descr {
  color: var(--white-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  max-width: 67%;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.hero_banner_container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.banner {
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  background-position: center center;
  z-index: 1;
  animation: zoom 15s infinite ease-in-out;
}

.banner1 {
  background-image: url("../img/banner1.jpg");
}

.hero_btn {
  width: 314px;
  height: 70px;
  color: var(--white-color);
  background: var(--primary-color);
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  position: relative;
}
.hero_btn:hover {
  border-color: var(--paleprimary-color);
  color: var(--white-color);
}
.hero_btn::after {
  content: "";
  position: absolute;
  top: -7px;
  left: -7px;
  width: calc(100% + 14px);
  height: calc(100% + 14px);
  transition: border-width 0.3s linear;
  border: none;
}

.hero_btn:focus::after {
  border-radius: inherit;
  border: 2px solid var(--lightprimary-color);
}

.hero_btn:focus {
  color: var(--white-color);
  outline: none;
  box-shadow: none;
}
.hero_btn:active {
  color: var(--white-color);
  background-color: var(--darkprimary-color);
  border: 2px solid var(--lightprimary-color);
  outline: none;
  box-shadow: none;
}

.hero_btn:active::after {
  border: none;
}

/*about*/
.about_container {
  margin-bottom: 69px;
}
.about_title {
  margin-bottom: 24px;
}
.about_descr {
  width: 68%;
}

/*gallery*/
.gallery {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  background-position: center center;
  background-image: url("../img/галерея/backG.jpg");
}
.gallery_container {
  padding-top: 84px;
  padding-bottom: 80px;
  margin-bottom: 84px;
}
.gallery_content {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
}
.gallery_content-left {
  flex: 0 0 calc(28% - 48px);
  position: relative;
}

.gallery_filter-subtitle {
  color: var(--white-color);
  margin-bottom: 10px;
}
.gallery_title {
  color: var(--white-color);
  margin-bottom: 20px;
}
.gallery_content-authorization {
  position: absolute;
  transform: translateY(-118px);
}
.gallery_descr {
  color: var(--white-color);
  width: 30%;
  height: 118px;
}

.gallery_descr-link {
  color: var(--primary-color);
  transition: color .3s ease;
}
.gallery_descr-link:hover {
  color: var(--paleprimary-color);
}

.gallery_descr-link:focus {
  color: var(--white-color);
  background-color: var(--primary-color);
  outline: none;
}
.gallery_descr-link:active {
  color: var(--darkprimary-color);
  background: none;
}


.gallery_selector {
  width: 100%;
  box-sizing: border-box;
}
/* custom-select */
.custom-select1 {
  position: absolute;
  width: 100%;

}
.custom-select2 {
  display: none;
}
.choices {
  display: flex;
  height: 40px;
  width: 100%;
  color: var(--white-color);
  border: 1px solid var(--white-color);
  border-radius: 6px;
}
.choices__inner {
  width: 100%;
  background: transparent;
  position: absolute;
  z-index: 4;
  transform: translateY(-6px);
}
.choices:hover {
  background: rgba(255, 255, 255, 0.2);
}
.choices:focus {
  background: rgba(255, 255, 255, 0.2);
}
.choices.is-open {
  background: transparent;
}

.is-open .choices__inner {
  background: transparent;
  border: none;
}

.is-open .choices__list--dropdown {
  margin-top: -1px;
  border-top: none;
  border-width: 1px;
  background: transparent;
}

.choices__list {
  border-radius: 6px;
}
.choices__item--selectable {
  padding-right: 0 !important;
}

.choices__item--choice.choices__placeholder {
  display: none;
}

.choices[data-type*="select-one"]::after {
  z-index: 5;
  border-color: var(--white-color);
  border-width: 1px 1px 0 0;
  width: 8px;
  height: 8px;
  margin-top: 0;
  top: calc(50% - 6px);
  transform: rotate(135deg);
}

.choices[data-type*="select-one"].is-open:after {
  border-color: var(--white-color);
  margin-top: 0;
  top: calc(50% - 5px);
  transform: rotate(-45deg);
}
.choices__list--dropdown .choices__item--selectable {
  border: 1px solid var(--whitepale-color);
  color: var(--whitepale-color);
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background: rgba(255, 255, 255, 0.2);
}

/* custom-slider */
.gallery_content-slider {
  flex: 0 0 calc(72% - 3px);
  height: calc(43vw + 5px);
  position: relative;
  padding-top: 20px;
}

.gallery1 {
  width: 100%;
  height: calc(100% - 60px);
}

.galery-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.custom-swiper-slide {
   position: relative;
}

.custom-swiper-slide::after {
  opacity: 0;
  content: "";
  position: absolute;
  top: 25px;
  left:25px;
  width: calc(100% - 50px);
  height:  calc(100% - 50px);
  background-color: rgba(0, 0, 0, 0.5);
  background-image:url("../img/галерея/loop+.png");
  background-repeat: no-repeat;
  background-position: center center;
  transition: opacity .3s linear;
}
.custom-swiper-slide:hover::after{
  opacity: 1;
  }
  .custom-swiper-slide::before {
    opacity: 0; 
    content: "";
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height:   100%;
    background-color: rgba(194, 131, 243, .4);
    border: 1px solid var(--paleprimary-color);
     background-repeat: no-repeat;
    background-position: center center;
    transition: opacity .3s linear;
  }
  .custom-swiper-slide:active::after,  .custom-swiper-slide:active::before{
    opacity: 1;
    }

.Art1 {
  background-image: url("../img/галерея/1920/Живопись1.jpg");
  
}
.Art2 {
  background-image: url("../img/галерея/1920/Живопись2.jpg");
}
.Art3 {
  background-image: url("../img/галерея/1920/Живопись3.jpg");
}
.Art4 {
  background-image: url("../img/галерея/1920/Живопись4.jpg");
}
.Art5 {
  background-image: url("../img/галерея/1920/Живопись5.jpg");
}
.Art6 {
  background-image: url("../img/галерея/1920/Живопись6.jpg");
}
.Art7 {
  background-image: url("../img/галерея/1920/Живопись7.jpg");
}
.Art8 {
  background-image: url("../img/галерея/1920/Живопись8.jpg");
}
.Art9 {
  background-image: url("../img/галерея/1920/Живопись9.jpg");
}
.Art10 {
  background-image: url("../img/галерея/1920/Живопись10.jpg");
}
.Art11 {
  background-image: url("../img/галерея/1920/Живопись11.jpg");
}
.Art12 {
  background-image: url("../img/галерея/1920/Живопись12.jpg");
}

.Draw1 {
  background-image: url("../img/галерея/1920/Рисунок1.jpg");
}
.Draw2 {
  background-image: url("../img/галерея/1920/Рисунок2.jpg");
}
.Draw3 {
  background-image: url("../img/галерея/1920/Рисунок3.jpg");
}
.Draw4 {
  background-image: url("../img/галерея/1920/Рисунок4.jpg");
}
.Draw5 {
  background-image: url("../img/галерея/1920/Рисунок5.jpg");
}
.Draw6 {
  background-image: url("../img/галерея/1920/Рисунок6.jpg");
}

.Sculpture1 {
  background-image: url("../img/галерея/1920/Скульптура1.jpg");
}
.Sculpture2 {
  background-image: url("../img/галерея/1920/Скульптура2.jpg");
}
.Sculpture3 {
  background-image: url("../img/галерея/1920/Скульптура3.jpg");
}
.Sculpture4 {
  background-image: url("../img/галерея/1920/Скульптура4.jpg");
}
.Sculpture5 {
  background-image: url("../img/галерея/1920/Скульптура5.jpg");
}
.Sculpture6 {
  background-image: url("../img/галерея/1920/Скульптура6.jpg");
}

.custom-controller {
  width: 130px;
  height: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
.custom-swiper-pagination {
  width: 47px;
  height: 30px;
  color: var(--white-color);
  text-align: center;
  padding-top: 3px;
}

.custom-swiper-button-prev,
.custom-swiper-button-next {
   width: 30px;
  height: 30px;
  cursor: pointer;
  
  }
 .custom-swiper-button-prev-svg {
  transform: rotate(180deg);
}

.custom-swiper-button-prev,
.custom-swiper-button-next {
  all: unset;
  width: 30px;
  height: 30px;
  cursor: pointer;
  
  }
  .custom-swiper-button-prev-svg,
  .custom-swiper-button-next-svg {
    box-sizing: border-box;
    border-radius: 100px;
  }


  .custom-swiper-button-prev svg, 
  .custom-swiper-button-next svg {
  fill:var(--blackpale-color);
   transition:fill .3s ease;
  }

  .custom-swiper-button-prev:hover svg,
  .custom-swiper-button-next:hover svg  {
    fill:var(--primary-color);
  }

  .custom-swiper-button-prev:focus svg,
  .custom-swiper-button-next:focus svg  {
    border: 2px solid var(--black-color);
  }
  .custom-swiper-button-prev:active svg,
  .custom-swiper-button-next:active svg  {
    fill:var(--darkprimary-color);
    border: 2px solid var(--black-color); 
    background: none;
  }

.custom-swiper-button-disabled {
  pointer-events: none;
  opacity: .5;
    }


.custom-swiper-container {
  overflow: hidden;
  position: relative;
  touch-action: none;
}
.custom-swiper-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
  height: 100%;
  transition: transform 0.2s linear;
}



/*catalog*/
.catalog_container {
  margin-bottom: 80px;
}

.catalog_top-upper {
  display: flex;
  margin-bottom: 12px;
}
.catalog_title {
  margin-right: 40px;
}
.catalog_nav_button {
  display: flex;
  align-items: center;
}
.catalog_tabs_item:not(:last-child) {
  margin-right: 46px;
}

.catalog_tabs_content_is_invisible {
  position: absolute;
  top: 0;
  left: 0;
  animation: remove-animatoin .3s linear 0s 1 forwards;
}
.catalog_tabs_descr_container{
position: relative;
}
.catalog_tabs_content_is_visible{
display: flex;
animation: add-animatoin .3s linear 0s 1 forwards;
}

@keyframes add-animatoin{
0% {opacity: 0;
}
100% {opacity: 1;
}

}

@keyframes remove-animatoin{
0% {opacity: 1;
  top:0;
  left: 0;
}
99.9%{
  opacity: 0;
  top:0;
  left: 15px;
}
100% {
  opacity: 0;
  left:-10000vw;
  top: 100px;
}
}      

.catalog_btn_step {
  border: 2px solid transparent;
  border-radius: 50px;
  background: transparent;
  cursor: pointer;
  transition: border 0.3s ease, filter 0.3s ease-in-out;
  position: relative;
} 

.catalog_btn_step:hover {
  filter: drop-shadow(0 0 20px rgba(157, 92, 208, 0.7));
}
.catalog_btn_step:focus {
  outline: none;
  filter: drop-shadow(0 0 20px rgba(157, 92, 208, 0.7));
}
.catalog_btn_step:active {
  border-radius: 50px;
  border: 2px solid var(--darkprimary-color);
 }

 
.catalog_descr {
  width: 68%;
  padding-bottom: 22px;
  margin-bottom: 17px;
 }

.catalog_btn_step__is_active::after {
  content: "";
  position: absolute;
  height: 66px;
  width: 66px;
  top: -10px;
  left: -10px;
  background: transparent;
  outline: none;
  border: 2px solid var(--primary-color);
  border-radius: 50px;
}
  .catalog_content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.catalog_artist {
  flex: 0 0 calc(50% - 50px);
}

.catalog_artist-picture {
  margin-bottom: 30px;
}
.catalog_artist-name {
  margin-bottom: 15px;
}
.catalog_artist-yars {
  color: #999;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 4px;
}

.catalog_list {
  flex: 0 0 50%;
}
.catalog_list_item {
  display: flex;
  align-items: center;
  width: 100%;
  border-top: 1px solid #cacaca;
  cursor: pointer;
  transition: color 0.3s ease, border-color 0.3s ease, fill 0.9s ease;
}

.catalog_item-years {
  padding: 40px 0 39px 2px;
  transition: color 0.3s ease, border-top-color 0.3s ease;
  flex-grow: 1;
}

.catalog_plus {
  background-position: center right;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  transition: transform 0.3s linear;
  transform-origin: center center;
}

.plus {
  min-width: 50px;
  fill: #cacaca;
  transition: fill 0.3s ease;
}
.catalog_list_item .catalog_item-years {
  transition: color 0.3s ease;
}
.catalog_list_item:hover .catalog_item-years {
  color: var(--primary-color);
}

.catalog_list_item:hover {
  border-color: var(--primary-color);
}
.catalog_list_item:hover + .catalog_list-artists + .catalog_list_item {
  border-top-color: var(--primary-color);
} 


.ui-accordion-header-active .catalog_plus {
  transform: rotate(180deg);}

.catalog_list_item:hover .catalog_plus {
  fill: var(--paleprimary-color);
}
.catalog_list_item:hover .contur {
  stroke: var(--darkprimary-color);
}
p {
  margin-bottom: 0;
}
.catalog_list-artists {
  border-top: 1px solid var(--primary-color);
  padding-top: 25px;
  width: 100%;
  height: 338px;
  padding-right: 100px;
}
.catalog_list-artists-size {
  column-width: 185px;
  column-gap: 7%;
  column-fill: auto;
  overflow: auto;
  
}

.artist-name-link {
  color: var(--black-color);
  text-decoration: none;
  background: no-repeat 0 100%;
  background-image: linear-gradient(currentColor, currentColor);
  background-size: 0% 1px;
  transition: background-size 0.3s ease;
}
.catalog_list-artists li{
  display: inline;
}

.artist-name-link:hover {
  background-size: 100% 1px;
  color: var(--primary-color);
}

.artist-name-link:focus {
  color: var(--white-color);
  background-color: var(--primary-color);
  outline: none;
}
.artist-name-link:active {
  color: var(--primary-color);
  background-size: 0% 1px;
  background: none;
}

.catalog_szablon-artists {
  display: inline-flex;
}
.catalog_szablon-block1 {
  display: block;
  width: 277px;
  height: 189px;
  border: 1px solid #b7b7b7;
  margin-right: 30px;
}
.catalog_szablon-block2 {
  display: block;
  width: 251px;
  height: 163px;
  background: #b7b7b7;
  margin-left: 12px;
  margin-top: 12px;
}
.catalog_szablon-title {
  display: block;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  padding-top: 30px;
}

.catalog_szablon-text {
  display: block;
  width: 60%;
  margin-bottom: 5px;
}
.catalog_szablon-link {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  outline: none;
}
/*events*/
.events_container {   
  max-width: 1703px;
  padding-left: 50px;
  margin: 0 auto;
  position: relative;
}
.events_title {
  margin-bottom: 18px;
}
.events_container_cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.events-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.events_item {
  flex: 0 0 calc(31% - 12px);
  min-height: 700px;
  margin-bottom: 46px;
  margin-right: 3%;
  display: flex;
  flex-direction: column;
  border: 1px solid #cacaca;
  overflow: hidden;
  
  }
.events_item:nth-last-child(-n+2) {
  display: none;
}
.events_inner {
  height: 100%;
  padding-top: 63%;
  padding-left: 50px;
  margin-bottom: 48px;
  margin-right: 19px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.img-event {
  background-repeat: no-repeat;
  background-size: 100%;
}
.event1 {
  background-image: url(../img/event1.jpg);
}
.event2 {
  background-image: url(../img/event2.jpg);
}
.event3 {
  background-image: url(../img/event3.jpg);
}
.event4 {
  background-image: url(../img/event4.jpg);
}
.event5 {
  background-image: url(../img/event5.jpg);
}
.events_item-info {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: var(--whitepale-color);
  text-align: right;
}
.events_item-heading {
  margin-bottom: 5px;
  line-height: 32px;
}
.events_item-text {
  width: 95%;
  line-height: 32px;
  margin-bottom: auto;
}
 .events_item-link {
   transition: color .3s ease,  border-bottom .3s ease, background-color .3s ease;
}
.link {
  color: var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}
.link:hover {
  color: var(--darkprimary-color);
  border-bottom: 1px solid var(--darkprimary-color);
}
.link:focus {
  inset: all;
  color: var(--white-color);
  border-bottom: 1px solid var(--white-color);
  background-color:var(--primary-color);
}

.link:active {
  color: var(--text-color);
  border-bottom: 1px solid var(--text-color);
}

.events_btn {
  margin-right: 50px;
  font-weight: 700;
  font-size: 17px;
  color: var(--primary-color);
}

.events_btn:hover {
  background-color: var(--primary-color);
  color: var(--white-color);
}

.events_container_cards input {
  display: none;
} 

 .events_container_cards input:checked + .events-list + label {
    display: none;
}  
.events_container_cards input:checked + .events-list .events_item {
  display: flex;
}

.swiper-container {
  display: none;
}

/*pablications*/
/*projects*/
/*contacts*/
/*footer*/

@media (max-width: 1155px) {
  /* изменения header*/
  html{
    scroll-padding-top: 100px;
  }
  .header-logo {
    margin-right: 0;
    width: 187px;
    height: 42px;
  }
  .logo-img {
    width: 100%;
    height: auto;
    display: block;
  }

  .header-bottom {
    display: none;
  }
  .btn_burger {
    all: unset;
    display: block;
    border: none;
    width: 36px;
    height: 28px;
    cursor: pointer;
  }

  .btn_reset {
    margin-left: 0;
  }

  .header-top_content {
    flex-direction: column;
    align-items: start;
    padding-top: 42px;
    padding-left: 50px;
    padding-bottom: 70px;
  }

  .nav_list {
    flex-direction: column;
    margin-bottom: 112px;
    padding: 0;
    align-items: flex-start;
  }

  .close-menu-btn {
    display: block;
    width: 29px;
    height: 29px;
    box-sizing: content-box;
    cursor: pointer;
  }
  .btn-close {
    all: unset;
    width: 29px;
    height: 29px;
    fill: var(--white-color);
  }

  .btn-close:hover {
    fill: var(--lightprimary-color);
  }

  .btn-close:active {
    fill: var(--darkprimary-color);
  }

  .menu {
    max-width: 100vw;
    max-height: 768px;
    height: 100vh;
    overflow: auto;
    transition: transform 0.3s linear;
    margin: 0;
    overflow: auto;
    position: absolute;
    z-index: 15;
    top: 0;
    left: -100vw;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .menu_is-active {
    transform: translateX(100%);
    display: flex;
  }

  .nav_item:not(:last-child) {
    margin-bottom: 37px;
  }
  .nav_link {
    font-weight: 600;
    font-size: 24px;
  }

  .header-top_container--return {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    width: 257px;
    height: 60px;
    border: 1px solid var(--primary-color);
    padding: 10px 20px;
    border-radius: 100px;
  }

  .nav_link-return {
    font-size: 14px;
  }
  .return-icon-svg {
    margin-right: 4px;
  }

  .btn_find-breakpoint {
    all: unset;
    width: 29px;
    height: 29px;
    cursor: pointer;
    fill: var(--white-color);
  }

  .header_container-top--form-search {
    height: 36px;
    width: 225px;
    background-color: black;
  }

  .menu-search {
    width: 28%;
    background-color: var(--black-color);
    flex-direction: row;
    transition: transform 0.3s linear;
    z-index: 5;
    top: 36px;
    left: 100%;
    transform: none;
    display: flex;
  }

  .menu-search_is-active {
    transform: translateX(-100%);
    background-color: var(--black-color);
  }

  .close-menu-search-btn {
    display: initial;
  }

  .btn_find {
    width: 29px;
    height: 28px;
  }
  /* изменения hero*/
  .hero {
    margin-bottom: 84px;
  }
  .hero_banner_content {
    padding-top: 209px;
    padding-bottom: 114px;
    max-width: 100%;
  }
  h1 {
    margin-bottom: 7px;
  }

  .hero_banner_theme {
    max-width: 100%;
    margin-bottom: 135px;
  }

  .hero_descr {
    max-width: 80%;
  }

  /* изменения about*/
  .about_container {
    margin-bottom: 68px;
  }
  .about_title {
    margin-bottom: 22px;
  }

  .about_descr {
    width: 100%;
  }

  /* изменения gallery*/
  .gallery_container {
    padding-bottom: 78px;
    margin-bottom: 83px;
  }
  .gallery_content-left {
    flex: 0 0 calc(36% - 52px);
  }

  .gallery_filter-subtitle {
    margin-bottom: 10px;
  }
  .gallery_title {
    margin-bottom: 22px;
  }
  .gallery_content-authorization {
    transform: translateY(-152px);
  }
  .gallery_descr {
    width: 27%;
    height: 150px;
  }
  .gallery_content-slider {
    flex: 0 0 calc(65% - 5px);
    height: calc(63vw + 34px);
    position: relative;
    padding-top: 25px;
  }
  .custom-controller {
    margin-bottom: 26px;
  }

  /* изменения catalog*/

  .catalog_descr {
    width: 100%;
  }
  .catalog_nav_button {
    padding-top: 10px;
  }
  .catalog_artist {
    flex: 0 0 calc(53% - 53px);
  }
  .catalog_list-artists {
   height: 434px;
   padding-right: 0;
  }
  .catalog_list {
    flex: 0 0 calc(48% - 5px);
  }
  /* изменения events*/

  .events_inner {
    padding-top: 74%;
    padding-left: 30px;
    margin-bottom: 56px;
  }

  .events_item {
    min-height: 683px;
    margin-bottom: 50px;
  }
  .events_item-info {
    margin-bottom: 5px;
  }
  .img-event {
    background-size: 100% 29%;
  }

  .events_item-text {
    width: 90%;
  }
 
}

@media (max-width: 825px) {
  /* изменения header*/
  .menu-search {
    top: 0;
    max-width: none;
    height: 100px;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: space-between;
    align-items: center;
  }

  /* изменения hero*/
  .hero_banner_theme {
    width: 100%;
  }

  .hero_descr {
    max-width: 100%;
  }
  /* изменения gallery*/

  .gallery_container {
    padding-bottom: 108px;
  }

  .gallery_content-authorization {
    position: relative;
    transform: translateY(0);
  }
  .gallery_descr {
    color: var(--white-color);
    width: 100%;
    height: 54px;
    padding-top: 29px;
  }
  .gallery_content {
    flex-direction: column;
  }
  .gallery_content-left {
    margin-bottom: 65px;
  }

  .choices {
    width: 280px;
  }
  .choices__inner {
    width: 100%;
  }
  .is-open .choices__list--dropdown {
    background: var(--black-color);
  }
  .custom-controller {
    margin-bottom: 30px;
  }

  .gallery1 {
    width: calc(100vw - 100px);
    height: calc(100vw - 174px);
  }
  /* изменения catalog*/
  .catalog_container {
    margin-bottom: 72px;
  }
  .catalog_content {
    flex-direction: column-reverse;
  }
  .catalog_top-upper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .catalog_title {
    margin-right: 0;
    flex: 0 0 27%;
  }
  .catalog_nav_button {
    flex: 0 0 67%;
    padding-top: 0;
    justify-content: space-between;
    align-items: center;
  }
  .catalog_tabs_item:not(:last-child) {
    margin-right: 0px;
  }
  .catalog_descr {
    padding-bottom: 0;
    margin-bottom: 22px;
  }
  .catalog_list-artists {
    height: 339px;
  }

  
  .catalog_list {
    width: 100%;
  }
  .catalog_artist {
    margin-top: 45px;
  }
  .catalog_artist-name {
    margin-bottom: 12px;
  }
  /* изменения events*/
  .events_item:nth-last-child(-n+3) {
    display: none;
  }
  .events_title {
    margin-bottom: 20px;
  }
  .events_item-heading {
    margin-bottom: 2px;
    padding-right: 20px;
  }

  .events_item {
    flex: 0 0 44%;
    margin-right: calc(5% - 1px);
    /* outline: 1px solid fuchsia; */
  }
  .events_inner {
    padding-top: 69%;
    padding-left: 33px;
  }
  .events_item-heading {
    margin-bottom: 4px;
    padding-right: 20px;
  }

}

@media (max-width: 630px) {
  h1 {
    font-size: 57px;
    line-height: 1.2;
  }
  /* изменения catalog*/
  .catalog_top-upper {
    flex-direction: column;
    align-items: flex-start;
  }
  .catalog_tabs_item {
    width: 36px;
    height: 36px;
  }
  .catalog_tabs_item:not(:last-child) {
    margin-right: 28px;
  }
  .catalog_btn_step__is_active::after {
    height: 44px;
    width: 44px;
    top: -6px;
    left:-6px;
  }
  .catalog_title {
    margin-bottom: 13px;
    margin-right: 5px;
  }

  .catalog_descr {
    display: none;
  }

  /* изменения events*/
  .events_item:nth-last-child(-n+4) {
    display: none;
  }
  .events_item {
    flex: 0 0 90%;
  }
}

@media (max-width: 500px) {
  
  html{
    scroll-padding-top: 45px;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  /* изменения header*/
  .header-top {
    height: 45px;
  }

  .header-logo {
    margin-right: 0;
    width: 97px;
    height: 22px;
  }

  .btn_burger {
    width: 24px;
    height: 19px;
    transform: translateY(-3px);
  }

  .btn_find {
    width: 19px;
    height: 18px;
    transform: translateY(-3px);
  }
  .header-top_content {
    padding: 15px 0 20px 15px;
  }
  .nav_list {
    margin-bottom: 20px;
  }
  .nav_item:not(:last-child) {
    margin-bottom: 9px;
  }

  .nav_link {
    font-size: 16px;
    font-weight: 400;
  }

  .nav_link-return {
    font-size: 12px;
    transform: translateY(0);
  }

  .header-top_container--return {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    width: 115px;
    height: 40px;
    border: 1px solid var(--primary-color);
    padding: 10px 20px;
    border-radius: 100px;
  }

  .close-menu-search-btn {
    transform: translate(30px, -30px);
  }
  .close-menu-btn {
    width: 15px;
    height: 15px;
  }
  .btn-close {
    width: 15px;
    height: 15px;
  }

  .menu {
    max-height: 355px;
  }

  /* изменения hero*/
  .hero {
    margin-bottom: 0;
  }
  .hero_banner_content {
    padding-top: 78px;
    padding-bottom: 45px;
  }
  .hero_banner_theme {
    max-width: 100vw;
    text-align: center;
    margin-bottom: 40px;
  }

  h1 {
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 12px;
  }
  .hero_descr {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    max-width: 95%;
  }

  .hero_btn {
    width: 200px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    font-size: 12px;
    padding: 12px 10px;
    display: flex;
    justify-content: center;
  }
  /*изменения about */
  .about_container {
    margin-bottom: 40px;
  }
  h2 {
    font-size: 28px;
  }
  .about_title {
    margin-top: 52px;
    margin-bottom: 16px;
  }

  .descr {
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    color: var(--text-color);
  }

  /*изменения gallery*/
  .gallery_container {
    padding-top: 52px;
    padding-bottom: 39px;
    margin-bottom: 52px;
  }
  .gallery_title {
    margin-bottom: 18px;
  }

  .gallery_filter-subtitle {
    color: var(--white-color);
    margin-bottom: 6px;
  }

  .gallery_content-left {
    margin-right: 0;
    margin-bottom: 58px;
  }

  .choices {
    width: 100%;
  }

  .gallery_content-slider {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 18px;
  }
  .gallery1 {
    width: 100%;
    height: 367px;
    margin-bottom: 20px;
  }

  .Art1 {
    background-image: url("../img/галерея/500/Живопись1.jpg");
  }
  .Art2 {
    background-image: url("../img/галерея/500/Живопись2.jpg");
  }
  .Art3 {
    background-image: url("../img/галерея/500/Живопись3.jpg");
  }
  .Art4 {
    background-image: url("../img/галерея/500/Живопись4.jpg");
  }
  .Art5 {
    background-image: url("../img/галерея/500/Живопись5.jpg");
  }
  .Art6 {
    background-image: url("../img/галерея/500/Живопись6.jpg");
  }
  .Art7 {
    background-image: url("../img/галерея/500/Живопись7.jpg");
  }
  .Art8 {
    background-image: url("../img/галерея/500/Живопись8.jpg");
  }
  .Art9 {
    background-image: url("../img/галерея/500/Живопись9.jpg");
  }
  .Art10 {
    background-image: url("../img/галерея/500/Живопись10.jpg");
  }
  .Art11 {
    background-image: url("../img/галерея/500/Живопись11.jpg");
  }
  .Art12 {
    background-image: url("../img/галерея/500/Живопись12.jpg");
  }

  .Draw1 {
    background-image: url("../img/галерея/500/Рисунок1.jpg");
  }
  .Draw2 {
    background-image: url("../img/галерея/500/Рисунок2.jpg");
  }
  .Draw3 {
    background-image: url("../img/галерея/500/Рисунок3.jpg");
  }
  .Draw4 {
    background-image: url("../img/галерея/500/Рисунок4.jpg");
  }
  .Draw5 {
    background-image: url("../img/галерея/500/Рисунок5.jpg");
  }
  .Draw6 {
    background-image: url("../img/галерея/500/Рисунок6.jpg");
  }

  .Sculpture1 {
    background-image: url("../img/галерея/500/Скульптура1.jpg");
  }
  .Sculpture2 {
    background-image: url("../img/галерея/500/Скульптура2.jpg");
  }
  .Sculpture3 {
    background-image: url("../img/галерея/500/Скульптура3.jpg");
  }
  .Sculpture4 {
    background-image: url("../img/галерея/500/Скульптура4.jpg");
  }
  .Sculpture5 {
    background-image: url("../img/галерея/500/Скульптура5.jpg");
  }
  .Sculpture6 {
    background-image: url("../img/галерея/500/Скульптура6.jpg");
  }

  .custom-controller {
    margin-bottom: 0;
  }

  .gallery_descr {
    margin: 0;
    padding: 0;
    color: var(--white-color);
    font-size: 16px;
    line-height: 32px;
    height: auto;
    max-width: 270px;
  }

  /*изменения catalog*/
  .catalog_container {
    margin-bottom: 55px;
  }
  .catalog_top {
    margin-bottom: 20px;
  }
  .catalog_item-years {
    font-size: 18px;
    padding: 25px 0 19px 0;
  }
  .catalog_plus {
    width: 30px;
    height: 30px;
  }
  .plus {
    min-width: 30px;
  }
  .catalog_list-artists {
    padding-top: 20px;
    padding-right: 80px;
     }
  .catalog_list-artists-size {
    height: 804px;
      overflow: auto;
  }

  .artist-name-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
  }
  .catalog_artist {
    margin-top: 48px;
  }
  .catalog_artist-picture {
    margin-bottom: 22px;
  }
  .catalog_artist-name {
    margin-bottom: 15px;
  }
  .catalog_artist-text {
    font-size: 16px;
    line-height: 32px;
  }
  .catalog_szablon-artists {
    display: flex;
    justify-content: space-between;
    height: 130px;
  }
  .catalog_szablon-block1 {
    width: 90px;
    height: 130px;
  }

  .catalog_szablon-block2 {
    width: 76px;
    height: 118px;
    margin: 6px;
  }

  .catalog_szablon-title {
    padding-top: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
  }

  .catalog_szablon-text {
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 5px;
  }
  /*измения events */
  .events_title {
    margin-bottom: 13px;
  }

  .events_container {
    padding-left: 15px;
  }
  .swiper-container {
    display: block;
    width: 100%;
    height: 750px;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .events_container_cards {
    display: none;
  }
  .events_item:nth-last-child(-n+2) {
    display: flex;
}
  .events_item {
    height:683px;
    margin: 0 15px 0 15px;
  }
  .events_inner {
    padding-top: 214px;
    padding-left: 29px;
    margin-bottom: 52px;
  }
  
  .swiper-container-horizontal
    > .swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: 0 7px 0 7px;
  }
  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 30px;
  }
  .swiper-pagination-bullet:hover {
    opacity: 0.6;
  }
  .swiper-pagination-bullet-active:hover {
    opacity: 1;
  }
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: var(--whitepale-color);
    opacity: 0.4;
    position: relative;
  }

  .swiper-pagination-bullet::after {
    position: absolute;
    content: "";
    width: 36px;
    height: 36px;
    left: calc(50% - 18px);
    top: calc(50% - 18px);
  }
}
